.bnrimg {
  background-image: url("/pix/bnr.jpeg");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.664);
}
.heading {
  color: rgba(0, 0, 0, 0.596);
}
